@import "lbh-frontend/lbh/base";

.previewArea {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  @include govuk-media-query($from: tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include govuk-media-query($from: desktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.figure {
  //   overflow: hidden;
  margin-top: 0;
  border: 1px solid lbh-colour("lbh-border");
}
.image {
  object-fit: cover;
  width: 100%;
  height: 100px;
  flex: 1;
  display: flex;
}
.caption {
  margin-top: 0;
  padding: 7px;
}
.title {
  display: block;
  word-wrap: anywhere;
}
.meta {
  color: lbh-colour("lbh-secondary-text");
}
