@import "node_modules/lbh-frontend/lbh/all";

// fix spacing of inline radios
.govuk-radios--inline {
  @include govuk-media-query($from: tablet) {
    .govuk-radios__item {
      margin-bottom: 0;
    }
  }
}

// fix visited colour of go-back links
.lbh-back-link:visited {
  color: lbh-colour("lbh-link");
}

// fix checkbox line height and spacing
.lbh-checkboxes {
  .govuk-checkboxes__label {
    line-height: 1.4rem;
  }

  .govuk-checkboxes__item:last-child {
    margin-bottom: 0;
  }
}
