@import "node_modules/lbh-frontend/lbh/all";

// turn off frustrating smooth scroll
html {
  scroll-behavior: initial;
}

// fix spacing of inline radios
.govuk-radios--inline {
  @include govuk-media-query($from: tablet) {
    .govuk-radios__item {
      margin-bottom: 0;
    }
  }
}

// fix visited colour of go-back links
.lbh-back-link {
  &:visited {
    color: lbh-colour("lbh-link");
  }
  &:hover {
    color: lbh-colour("lbh-link-hover");
  }
  &:focus {
    color: lbh-colour("lbh-text");
  }
}

// fix checkbox line height and spacing
.lbh-checkboxes {
  .govuk-checkboxes__label {
    line-height: 1.4rem;
  }

  .govuk-checkboxes__item:last-child {
    margin-bottom: 0;
  }
}

// fix spacing of grid rows next to each other
.govuk-grid-row + .govuk-grid-row {
  margin-top: 0;
}
